
/**
 * Override default textfield float to put the "Add classname" button next to
 * the input textfield.
 */
#fullcalender-colors-extension-classnames td.edit-name {
  clear: both;
}
#fullcalender-colors-extension-classnames .form-item-name {
  float: left;
  margin-right: 1em;
}
